@define-color background-color #%BACKGROUND_SECONDARY%;
@define-color border-color #%ACCENT%;
@define-color label #%FOREGROUND_PRIMARY%;
@define-color image #%FOREGROUND_PRIMARY%;
@define-color progress-bar-color #%BACKGROUND_PRIMARY%;
@define-color progress #%ACCENT%;

window {
    border-radius: 10px;
    opacity: 1;
    border: 1px solid @border-color;

    background-color: @background-color;
}

label {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12pt;

    color: @label;
}

image {
    color: @image;
}

progressbar {
    background-color: @progress-bar-color;
    border-radius: 8px;
}

progress {
    background-color: @progress;
}
