# Managed by NosArch

[Unit]
Description=NosArch battery monitor
ConditionPathExistsGlob=/sys/class/power_supply/BAT*

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nosarch/nosarch-battery power-profile-auto
