[Desktop Entry]
Type=Application
Version=1.5

Name=NosArch Package Manager
Comment=NosArch TUI for managing packages with pacman
Icon=package-x-generic-symbolic
Categories=Utility;PackageManager;ConsoleOnly;
Keywords=nosarch;package;

Exec=nosarch-launch-tui nosarch-package-manage

NoDisplay=false
Hidden=false
OnlyShowIn=Hyprland
Terminal=false

SingleMainWindow=true
