@define-color center-bg                 #%BACKGROUND_SECONDARY%;
@define-color notification-bg           #%BACKGROUND_SECONDARY%;
@define-color center-notification-bg    #%BACKGROUND_PRIMARY%;
@define-color background                #%BACKGROUND_PRIMARY%;
@define-color background-alt            #%BACKGROUND_SECONDARY%;
@define-color accent-color              #%ACCENT%;
@define-color text                      #%FOREGROUND_PRIMARY%;
@define-color text-alt                  #%FOREGROUND_SECONDARY%;
@define-color selected                  alpha(@text-alt, .4);
@define-color hover                     alpha(@selected, .4);
@define-color urgent                    @text-alt;

* {
    all: unset;
    font-family: "%NORMAL_FONT%";
    font-weight: 700;

    /* Global style variables */
    --border-radius: 10px;
    --border-radius-s: 8px;
    --border-radius-xl: 18px;

    --font-size: 14px;

    --font-weight-primary: 800;
    --font-weight-secondary: 500;

    --mpris-album-art-icon-size: 96;
    /* JSON config "image-size" for this is reported as deprecated in favor of this css root var,
    but this css var does not work. Instead the JSON config works. */

    /* Shadows: set to none to disable */
    --shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

.notification {
    padding: 5px;
}
.notification-background {
    background: @notification-bg;
    border: solid 2px @accent-color;
    border-radius: var(--border-radius);
    margin: 5px;
}

.notification-background .close-button {
    color: @text;
    background: @background;
    border-radius: var(--border-radius);
    padding: 3px;
    margin: 10px;
}
.notification-background .close-button:hover {
    background: @hover;
}

.notification.critical {
    border: 2px solid @urgent;
    border-radius: var(--border-radius);
}

.notification-content {
    color: @text;
    margin: 10px;
}
.notification-content .time {
    font-size: var(--font-size);
    font-weight: var(--font-weight-secondary);
}
.notification-content .summary {
    font-size: var(--font-size);
    font-weight: var(--font-weight-primary);
    margin: 2px 0px;
}
.notification-content .body {
    color: @text-alt;
    font-size: var(--font-size);
    font-weight: var(--font-weight-secondary);
    margin: 2px 0px;
}
.notification-content .image,
.notification-content .body-image {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    /* Added both min and max to avoid sizing issues (e.g. icon suddenly very large - 500px-ish) */

    margin: 10px 10px 10px 0px;
    /* top right bottom left */
    -gtk-icon-size: 32px;
}
.notification-content .image > *,
.notification-content .body-image > * {
    /* Target the actual rendered element inside that container */
    max-width: 32px;
    max-height: 32px;
}
.notification-content .app-icon {
    /* For the smaller app icon that sometimes appears over images */
    min-width: 16px;
    min-height: 16px;
    margin: 10px 10px 10px 0px;
    /* top right bottom left */
    -gtk-icon-size: 16px;
}

.notification-row .inline-reply-entry,
.notification-row .inline-reply-button {
    background: @background-alt;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    margin: 5px -5px -5px -5px;
}

.notification-row .inline-reply-entry {
    margin-right: 10px;
}
.notification-row .inline-reply-button:hover {
    background: @selected;
}

.notification-alt-actions {
    padding: 5px 0;
}

.notification-action {
    color: @text;
    background: @hover;
    font-weight: var(--font-weight-primary);
    border-radius: var(--border-radius);
    padding: 10px 0;
    margin: 0 5px;
}
.notification-action:hover,
.notification-action:active {
    background: @selected;
}

.control-center {
    background: @center-bg;
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 5px;
}

.control-center .notification-background {
    background: @center-notification-bg;
    border: 0px;
    box-shadow: var(--shadow);
}

.control-center .notification-background .close-button,
.notification-group-close-button {
    /* Remove close buttons in notification center */
    opacity: 0;
}

.notification-group {
    transition: 200ms;
}
.notification-group:not(.collapsed) {
    /* Notifications expanded-group extra margin */
    margin: 10px;
}

.notification-group-headers,
.notification-group-buttons {
    color: @text;
    background: @background;
    font-weight: var(--font-weight-primary);
    border-radius: var(--border-radius);
    padding: 5px 10px;
}

.notification-group-headers > label {
    font-size: var(--font-size);
    margin: 0 3px;
}
.notification-group-icon {
    color: @text;
}

.notification-group-buttons .image-button {
    color: @text;
    background: transparent;
    border-radius: var(--border-radius);
    padding: 4px;
}
.notification-group-buttons .image-button:hover {
    background: @hover;
}

/* Widgets */
.widget {
    color: @text;
    margin: 5px;
}

/* "Notification Center" Title widget === */
.widget-title {
    color: @text;
    background: @background;
    font-size: 14px;
    font-weight: var(--font-weight-primary);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 10px 15px;
}
/* === */

/* Do not disturb widget === */
.widget-dnd {
    color: @text;
    background: @background;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 10px 15px;
}

.widget-dnd > label {
    font-size: var(--font-size);
    font-weight: 700;
}

.widget-dnd switch {
    background: @hover;
    box-shadow: none;
    border-radius: var(--border-radius-xl);
    padding: 2px;
    transition: 200ms;
}
.widget-dnd switch:hover {
    background: @selected;
}
.widget-dnd switch:checked {
    background: @accent-color;
}

.widget-dnd switch slider {
    background: @text;
    border-radius: var(--border-radius-xl);
}
/* === */

/* Mpris Player Widget === */
.widget-mpris {
    border-radius: var(--border-radius);
}

.mpris-background {
    border-radius: var(--border-radius);
    margin: 3px; /* Removes the thin white line forming at the corners of the widget */
}

.mpris-overlay {
    background: @background;
    border-radius: var(--border-radius);
    padding: 10px;
}
.mpris-overlay > box:last-child {
    /* Media Control buttons container  */
    background: alpha(@hover, 0.6);
    border-radius: var(--border-radius-xl);
    padding: 2px;
}

.widget-mpris-album-art {
    border-radius: var(--border-radius);
    margin: 5px;
}
.widget-mpris-title {
    font-size: var(--font-size);
    font-weight: var(--font-weight-primary);
    margin: 0px 5px;
}
.widget-mpris-subtitle {
    color: @text-alt;
    font-weight: var(--font-weight-secondary);
    font-size: var(--font-size);
    margin: 0px 5px;
}

.widget-mpris-player button {
    /* Media Control buttons */
    padding: 5px;
    margin: 0 2.5px;
}
.widget-mpris-player button:hover {
    /* Hover for control buttons */
    background: @hover;
    border-radius: var(--border-radius-xl);
}
/* === */

.widget-buttons-grid {
    background: @background;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 5px 15px;
    margin-bottom: 5px;
}

.widget-buttons-grid button {
    background: @hover;
    min-width: 2rem;
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 3px;
    transition: 200ms;
}

.widget-buttons-grid button > label {
    color: @text;
    font-family: "JetbrainsMono Nerd Font";
    font-size: var(--font-size);
}

.widget-buttons-grid button:hover {
    background: @selected;
}

.widget-buttons-grid button:checked {
    background-color: @text;
}

.widget-buttons-grid button:checked > label {
    color: @background;
}

.widget-volume,
.widget-backlight {
    color: @text;
    background: @background-alt;
    font-weight: var(--font-weight-primary);
    border-radius: 12px;
    padding: 8px 14px;
    margin: 5px 0;
}

.widget-volume label,
.widget-backlight label {
    font-size: 1.1rem;
}

.widget-volume slider,
.widget-backlight slider {
    background: @text;
    opacity: 1;
    border-radius: 24px;
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.15),
        0 4px 4px rgba(0, 0, 0, 0.4);
    margin: -8px;
}

.widget-volume trough,
.widget-backlight trough {
    background: @hover;
    border-radius: 12px;
    margin-left: 8px;
}

.widget-volume highlight,
.widget-backlight highlight {
    background: @text;
    border-radius: 12px;
    padding: 3.5px;
}

/* Change color for placeholder when no notifications */
.control-center-list-placeholder {
    color: @text-alt;
}

/* Avoid 'annoying' backgroud */
.blank-window {
    background: transparent;
}
